{% extends 'products/base.html' %}

{% block content %}

{% if products %}

    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">

        {% for product in products %}
            <div class="col">
              <div class="card m-3" style="width: 18rem;">
                  <img src="{{ product.image.url }}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title m-1">{{ product.name }}</h5>
                    <h5 class="card-subtitle m-1">{{ product.price }} zł</h5>
                    <a style='float:right;' href="{% url 'products:product_detail' product.id %}" class="btn btn-secondary">Szczegóły &raquo;</a>
                  </div>
              </div>
            </div>
        {% endfor %}
        </div>
    </div>

{% else %}
    <p>Obecnie nie ma żadnych produktów.</p>
{% endif %}

{% endblock content %}